.list-overview{
  color: grey;

  .item {
    white-space: nowrap;
    overflow: hidden;
  }

  .checked-item {
    text-decoration: line-through;
  }

}

.hidden-items{
  display: flex;
  align-items: center;
  color: grey;

  p {
    margin: 0%;
  }
}
