<div class="container p-3">
  <form [formGroup]="formGroup" (ngSubmit)="saveNewList()">
    <mat-form-field class="w-full pb-3">
      <mat-label>List Name</mat-label>
      <input matInput placeholder="New List"
        type="text"
        [formControlName]="controlName">
    </mat-form-field>
  </form>
  <div class="flex justify-content-between">
    <button mat-stroked-button color="warn" class="w-6 mr-1" (click)="cancel()" id="cancel-button">Cancel</button>
    <button mat-raised-button color="primary" class="w-6 ml-1" (click)="saveNewList()" id="save-button">Save</button>
  </div>
</div>
