.card-list-container {
  .card {
    width: 40%;
    height: 20%;
  }

  @media only screen and (max-width: 600px) {
    .card {
      width: 100%;
      overflow: hidden;
    }
  }
}

.add-fab {
  bottom:5%;
  right:5%;
}
