<div class="container">
  <div *ngIf="!isEditingName" class="header">
    <h1>{{ shoppingList.name }}</h1>
    <button mat-icon-button color="primary" [disabled]="externalEditInProgress" (click)="editListName()" id="edit-button">
      <mat-icon>edit</mat-icon>
    </button>
  </div>
  <div *ngIf="isEditingName" class="header">
    <form [formGroup]="editListNameForm" (ngSubmit)="saveEdit()" class="edit-name-form">
      <mat-form-field class="edit-name-form-field">
        <input matInput
          type="text"
          formControlName="newListName"
          class="form-input">
      </mat-form-field>
    </form>
    <div>
      <button mat-icon-button color="warn" (click)="editListName()" id="cancel-button">
        <mat-icon>close</mat-icon>
      </button>
      <button mat-icon-button color="primary" (click)="saveEdit()" id="save-button">
        <mat-icon>check</mat-icon>
      </button>
    </div>
  </div>
</div>
<mat-divider></mat-divider>
