<div *ngIf="addNewItem" class="list-item">
  <mat-checkbox disabled="true"></mat-checkbox>
  <form [formGroup]="addItemForm" (ngSubmit)="saveItem()" class="add-item-form">
    <mat-form-field class="form-field">
      <input matInput
        type="text"
        formControlName="itemName">
    </mat-form-field>
  </form>
  <div class="actions">
    <button mat-icon-button color="warn" (click)="toggleAddNewItem()" id="cancel-add-button">
      <mat-icon>close</mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)="saveItem()" id="save-item-button">
      <mat-icon>check</mat-icon>
    </button>
  </div>
</div>

<div *ngIf="!addNewItem" (click)="!externalEditInProgress && toggleAddNewItem()" class="add-item-button">
  <mat-icon>add</mat-icon>
  <p>Add Item</p>
</div>
