<form class="grid grid-nogutter flex align-items-center">
  <mat-checkbox
    class="col-1"
    [(ngModel)]="item.isChecked"
  ></mat-checkbox>
  <p class="m-0 pl-1 col-9"
    [class.line-through]="item.isChecked"
    (click)="selectItem()"
  >{{formGroup.controls[formFields.Name].value}}</p>
  <app-actions
    class="col-2"
    *ngIf="selected"
  ></app-actions>
  <!-- <form [formGroup]="addItemForm" (ngSubmit)="saveItem()" class="add-item-form">
    <mat-form-field class="form-field">
      <input matInput
        type="text"
        formControlName="itemName">
    </mat-form-field>
  </form> -->
  <!-- <div class="actions">
    <button mat-icon-button color="warn" (click)="toggleAddNewItem()" id="cancel-add-button">
      <mat-icon>close</mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)="saveItem()" id="save-item-button">
      <mat-icon>check</mat-icon>
    </button>
  </div> -->
  <!-- <app-item-actions
    class="item-actions col-1 h-4rem"
    [item]="item"
    [selectedItem]="item"
    [editItemForm]="editItemForm"
    (itemUnselectedEvent)="editEvent(false)"
    (itemUnderEditEvent)="itemUnderEdit($event)"
    (shoppingListUpdatedEvent)="shoppingListUpdated($event)">
  </app-item-actions> -->
</form>
