<div *ngIf ="item === selectedItem" class="actions-container">
  <div *ngIf="item.id !== itemUnderEditId" class="action-buttons">
    <button mat-icon-button color="primary" (click)="itemUnderEdit(item.id)" id="edit-item-button">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button color="warn" (click)="deleteItem(item.id)" id="delete-item-button">
      <mat-icon>delete_outline</mat-icon>
    </button>
  </div>
  <div *ngIf="item.id === itemUnderEditId" class="action-buttons">
    <button mat-icon-button color="warn" (click)="unselectItem(item.id)" id="cancel-item-edit-button">
      <mat-icon>close</mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)="saveEditItem()" id="save-item-button">
      <mat-icon>check</mat-icon>
    </button>
  </div>
</div>
