<div *ngIf="(this.shoppingList$ | async) as shoppingList" class="container">
  <app-list-detail-header
    [externalEditInProgress]="editInProgress"
    [shoppingList]="shoppingList"
    (headerBeingEditedEvent)="editEvent($event)"
    (shoppingListUpdatedEvent)="shoppingListUpdated($event)">
  </app-list-detail-header>

  <mat-list>
    <div *ngFor="let item of shoppingList.items" class="list-item" >
      <mat-list-item>
        <mat-checkbox></mat-checkbox>
        <div class="list-item-content">
          <p *ngIf="item.id !== itemUnderEditId" (click)="itemSelected(item.id)" class="selectable-item">{{ item.name }}</p>
          <mat-form-field *ngIf="item.id === itemUnderEditId" class="edit-item-form">
            <input matInput [(ngModel)]="selectedItem.name">
          </mat-form-field>
        </div>
        <app-item-actions class="item-actions"
          [item]="item"
          [selectedItem]="selectedItem"
          [shoppingList$]="shoppingList$"
          (itemUnselectedEvent)="editEvent(false)"
          (itemUnderEditEvent)="itemUnderEdit($event)"
          (shoppingListUpdatedEvent)="shoppingListUpdated($event)">
        </app-item-actions>
      </mat-list-item>
    </div>
    <mat-list-item>
      <app-add-item class="add-item"
        [externalEditInProgress]="editInProgress"
        (itemBeingAddedEvent)="editEvent($event)"
        (shoppingListUpdatedEvent)="shoppingListUpdated($event)">
      </app-add-item>
    </mat-list-item>
  </mat-list>
</div>
