<app-back-button class="m-3"></app-back-button>

<div *ngIf="(this.shoppingList$ | async) as shoppingList" class="m-5 mt-0">
  <app-list-detail-header
    [externalEditInProgress]="editInProgress"
    [shoppingList]="shoppingList"
    (headerBeingEditedEvent)="editEvent($event)"
    (shoppingListUpdatedEvent)="shoppingListUpdated($event)">
  </app-list-detail-header>

  <mat-list>
    <div *ngFor="let item of shoppingList.items" class="list-item" >
      <mat-list-item class="w-full h-4rem p-0">
        <app-item
          [item]="item"
          [selectedItemId]="selectedItem?.id"
          (selectedEvent)="itemSelected($event)"
        ></app-item>
        <!-- <div class="flex grid justify-content-center align-content-center">
          <div>
            <mat-checkbox
              class="col-1 h-4rem"
              (change)="itemChecked(item.id)"
              [(ngModel)]="item.isChecked"
              [disabled]="editInProgress"
              [id]="'item-checkbox-' + item.id"
            ></mat-checkbox>
          </div>
          <div class="list-item-content col-10 pr-3">
            <p *ngIf="item.id !== itemUnderEditId" (click)="itemSelected(item.id)"
              [class.checked-item]="item.isChecked"
              class="selectable-item m-0 cursor-pointer pt-2"
            >{{ item.name }}</p>
            <form *ngIf="item.id === itemUnderEditId" class="edit-item-form w-full p-0 h-4rem" [formGroup]="editItemForm">
              <mat-form-field class="w-full">
                <input matInput type="text" formControlName="newItemName">
              </mat-form-field>
            </form>
          </div>
          <app-item-actions
            class="item-actions col-1 h-4rem"
            [item]="item"
            [selectedItem]="selectedItem"
            [editItemForm]="editItemForm"
            [shoppingList$]="shoppingList$"
            (itemUnselectedEvent)="editEvent(false)"
            (itemUnderEditEvent)="itemUnderEdit($event)"
            (shoppingListUpdatedEvent)="shoppingListUpdated($event)">
          </app-item-actions>
        </div> -->
      </mat-list-item>
    </div>
    <mat-list-item>
      <app-add-item class="add-item"
        [externalEditInProgress]="editInProgress"
        (itemBeingAddedEvent)="editEvent($event)"
        (shoppingListUpdatedEvent)="shoppingListUpdated($event)">
      </app-add-item>
    </mat-list-item>
  </mat-list>
</div>
