.container {
  margin: 5%;
}

.list-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .list-item-content{
    width: 75%;
    padding-left: 5%;

    .selectable-item {
      cursor: pointer;
      margin-bottom: 0%;
    }

    .edit-item-form {
      width: 100%;
    }
  }

  .item-actions {
    width: 25%;
  }
}

.add-item{
  width: 100%;
}
